<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button (click)="startWalk()">Iniciar Caminhada</ion-button>
    <ion-button (click)="stopWalk()">Parar Caminhada</ion-button>
    <ion-button color="secondary" (click)="syncToCloud()">Sincronizar Dados</ion-button>
  
    <div *ngIf="isTracking">
      <p>Caminhada em andamento...</p>
      <p>
        {{dataService}}
      </p>
    </div>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
